/* fonts by google NO ELIMINAR*/
.yeseva-one-regular {
    font-family: "Yeseva One", serif;
    font-weight: 400;
    font-style: normal;
  }

/* nota para josefin-sans--> <uniquifier>: Use a unique and descriptive class name
<weight>: Use a value from 100 to 700 */
  
.josefin-sans- /* <uniquifier> */{
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
}

/*en este css: solo va el codigo del index*/
/*html index - body */
body{
    background-color: #284123;
}

.redes-social{
    font-family: 'Josefin Sans', sans-serif;
    background-color: rgb(22, 33, 20);
    color: rgb(255, 240, 210); 
}

.caja-contenido{
    font-family: 'Josefin Sans', sans-serif;
    color:rgb(255, 240, 210);
    background-color: #284123;
}

.img-portada{
    width: 1120.2px;
    height: 360.7px;
    border-radius: 60px;
    mix-blend-mode:luminosity;
    filter: blur(0,7px);
    -webkit-filter: blur(0,7px);
}

.texto-portada{
    color: #000;
}

.tarriba{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    max-width: 100%;
    width: 100%;
}

.tmedio{
    font-family: "Yeseva One", serif;
    font-size: 80px;
    text-align: center;
    max-width: 100%;
    width: 100%;
}

.tabajo{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    max-width: 100%;
    width: 100%;
}

.carousel-item{
    background-color: #284123;
    padding: 5%;
}

.news-main{
    width: 85%; 
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    }
    .news-main article{
        width: 46%;
        padding: 9%;
        background-color: rgb(255, 240, 210);
        border-radius: 60px;
        margin-bottom: 40px;
        margin-top: 40px;
        }

.news-main2 article{
    width: 85%;
    margin: 0 auto;
    flex-direction: row;
    padding: 9%;
    background-color: rgb(255, 240, 210);
    border-radius: 60px;
    margin-bottom: 40px;
}

    